body, footer{
    font-family: 'Space Mono', monospace;
}

.navbar {
    background:white !important;
}

.navbar-nav{
    margin-left: auto;
    background:white;
}

.navbar-nav .nav-item .nav-link{
    color: #2E4E7E;
    font-weight: 70;
    font-size: 1.5rem;
}

navbar-nav .nav-item .nav-link:hover{
    color: black;
    font-weight: 90;
}

.pic {
    background: #D1D9E0;
}

.self{
    width: 85%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span{
    color:#2E4E7E;
}

h1{
    text-align: center;
    padding-bottom: 5%;
}

h4{
    font-weight: normal;
    color: gray;
    text-align: center;
    padding-bottom: 15%;
    font-size: 1.7rem;
    
}



img {
    width: 500px;
    height: 500px;
}

#triangle {
    width: 10%;
    height: 10%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-bottom: 100px solid #D1D9E0;
    border-left: 100px solid transparent;
}

#first{
    padding-bottom: 5%;
}

.second{
    text-align: center;
    padding-bottom: 50px;
}


.time{
color: #2E4E7E;
}

h2{
    color: #2E4E7E;
    font-weight: 90;
    padding-bottom: 3%;
}

.card{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #aaaaaa;
    margin: 2.7rem;
}

.chapelhill{
    padding-left: 80px;
}

.overlay1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.2s ease;
}

.text1{
    color:black;
    font-weight:blod;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    text-align: center;
}

.chapelhill:hover .overlay1{
    opacity: 1;
}

.chapelhill:hover .chapel{
    filter: blur(15px);
    transition: 1.2s ease;
}

.eastmeck{
    position: relative;
    width: 120%;
    height: 300px;
    padding-left: 80px;
}

.overlay2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.2s ease;
}

.text2{
    color:black;
    font-weight:blod;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
    text-align: center;
}

.eastmeck:hover .overlay2{
    opacity: 1;
}

.eastmeck:hover .east{
    filter: blur(15px);
    transition: 1.2s ease;
}
 

.overlay3{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.2s ease;
}

.club{
    padding-left: 80px;
}

.club:hover .overlay3{
    opacity: 1;
}

.club:hover .chinese{
    filter: blur(15px);
    transition: 1.2s ease;
}

.text3{
    color:black;
    font-weight:blod;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -100%);
    text-align: center;
}

.tedxeast{
    position: relative;
    width: 120%;
    height: 300px;
    padding-left: 80px;
}

.overlay4{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.2s ease;
}

.tedxeast:hover .overlay4{
    opacity: 1;
}

.tedxeast:hover .tedx{
    filter: blur(15px);
    transition: 1.2s ease;
}

.text4{
    color:black;
    font-weight:blod;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-72%, -50%);
    text-align: center;
}



ul{
    list-style-type: none;
}

#contact{
    font-size: 2.4rem !important;
}

form{
    padding-top: 5%;
    padding-bottom: 5%;
}


.btn-primary{
    color: black !important;
    background: #D1D9E0 !important;
    border-color:#D1D9E0 !important;
}

.btn-primary:hover{
    color: white !important;
    background-color: #2E4E7E !important;
    border-color:  #2E4E7E !important;
}
